header
 {
    background-color: red;
    width: 1440px;
    height: 342px;
 }
 .titulo
 {
   background-color: rgba(76, 52, 224, 1)
 }
 .corpo
 {
   height: 620px;
   background-color: #9E77c6 ;
 }
 .cabecalho-lista-item{

  margin: 0 16px;
  font-size: 24px;
}
