header
 {
    background-color: red;
    width: 1350px;
    height: 342px;
 }

 .bara_superior
 {
  width: 1350px;
  height: 342px;
   background-color: #F31A1A;
 }

 .base_roxa
 {
  width: 1350px;
   height: 624px;
   background-color: #9E77c6;
 }

 .cabecalho-lista-item
 {
  margin: 14px;
  font-size: 14px;
}
